.slick-next:before {
  color: var(--violet-hover);
}

.slick-prev:before {
  color: var(--violet-hover);
}

.slick-track {
  display: flex;
  gap: 24px;
}

.slick-slider{
  margin-top: 10px;
  margin-bottom: 24px;
}