.settings-modal-body {
  background-color: var(--violet-clr);
}

.modal > .modal-fullscreen {
  width: 100%;
  overflow: hidden;
}

.settings-link {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .settings-modal {
    display: none;
  }
}
